/**

style.css

Computer Science 50
Programmeer Project 2016
Energy Knowledge

Sanne Strikkers
11170816

*/

/* main font for menu. */
@import url(http://fonts.googleapis.com/css?family=Roboto:400|Raleway:200,300,400,500,700,900);

/*--------------------
General
--------------------*/
body {
  margin: 0px;
  font-family: "Raleway", Sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 200;
  letter-spacing: 0.4px;
  font-family: "Raleway", Sans-serif;
  color: #232323;
}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #252525;
}

a:hover, a:focus, a:active, a.active {
  color: #fec503;
}
a, a:hover, a:focus, a:active, a.active {
  outline: 0;
}

::selection {
  text-shadow: none;
  background: #94C137;
}

.section-title h3 {
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 0.4px;
  font-family: "Raleway", Sans-serif;
}

@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}

section {
  padding: 35px 0 60px;
}

/*automatic dropdown*/
.show-on-hover:hover > ul.dropdown-menu {
  display: block;    
}

.active {
  background-color: #f1f1f1!important;
  border: 1px solid #ddd!important;
  color: black!important;
}

.img {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 50px;
}

/*--------------------
Reset bootstrap
--------------------*/

.row-0-gutter {
  margin-left: -13px;
  margin-right: -13px;
}

.col-0-gutter {
  padding-left: 0;
  padding-right: 0;
}

/*--------------------
Navigation
--------------------*/
.navbar-default {
  background-color: #fff!important;
  border-color: transparent!important;
}
.navbar-default .navbar-collapse {
  border-color: rgba(255,255,255,.02)
}
.navbar-default .nav li a {
  font-family: "Roboto",sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #000;
  border-bottom: 1px solid;
  border-color: #000;
  margin: 10px 15px;
  padding: 0 0 2px 0;
}

.navbar-default .nav li a:hover,.navbar-default .nav li a:focus {
  border-color: #94C137;
  outline: 0
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-logo {
  padding-top: 10px;
}

@media (min-width:768px) {
  .navbar-default
  {
    background-color: transparent;
    padding: 5px 0 0px;
    -webkit-transition:padding .3s;
    -moz-transition:padding .3s;
    transition:padding .3s;
    border:0
  }
}

/*--------------------
Footer
--------------------*/

footer {
  padding: 30px;
  background-color: #000;
  margin-top: 50px;
  margin-bottom: -25px;    
}

footer p {
  color: #B7B7B7;
  margin: 0;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1.6px;
}

/*--------------------
Tooltips
--------------------*/

/* Creates the tooltip */
.d3-tip {
  line-height: 1;
  padding: 12px;
  background: #F5F5F5;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: #94C137;
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.world-tip {
  line-height: 1;
  padding: 12px;
  background: #F5F5F5;
  border-radius: 2px;
}

.nl-tooltip {
  position: absolute;
  display: none;
  width: auto;
  height: auto;
  line-height: 1;
  padding: 12px;
  background: #F5F5F5;
  border-radius: 2px;
  text-align: center;
}

/*--------------------
Barchart
--------------------*/
.bar {
  fill: grey;
}

.bar:hover {
  fill: #252525;
}

#bar-chart {
  display: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: #B7B7B7;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

/*--------------------
Sections
--------------------*/

.section-title {
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 45px;
  text-transform: uppercase;
}

.section-title p {
  font-size: 18px;
  font-weight: 300;
  line-height: 33px;
  margin: 25px 100px 30px 100px;
}

/*--------------------
Legend
--------------------*/

.mz-module .section-title {
  padding: 40px 0;
}

.light-bg {
  background: #f1f1f1;
  padding-bottom: 50px;
}

.mz-about-dark {
  background-color: #2B2B2B;
}
.mz-about-container {
  padding: 0 50px;
}

.mz-module-about {
  padding: 20px;
}

.mz-about-default {
  background-color: #252525;
}

.mz-module-about-legend p{
  font-size: 10px;
  font-weight: 300;
  line-height: 10px;
  letter-spacing: 0.1px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.mz-module-about p {
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
  color: #9C9C9C;
}

.full-circle {
  height: 15px;
  -moz-border-radius:12px;
  -webkit-border-radius: 12px;
  width: 15px;
  line-height: 18px;
  margin: 10px;
}

.legend {
  padding-bottom: 50px;
}

.legend h4 {
  margin-top: -50px;
}

.legend p {
  margin-bottom: 10px;
  font-size: 12px;
}

.wrapper {
  padding-left:20px;
  padding-right:20px;
  display:inline-block;
}

/*--------------------
Donut Chart
--------------------*/
.donut-svg {
  width: 650px;
  height: 500px;
  margin-top: 90px;
}

path.slice{
  stroke-width:2px;
}

polyline{
  opacity: .3;
  stroke: grey;
  stroke-width: 1px;
  fill: none;
}

text{
  font-family: "Raleway", Sans-serif;
}

/*--------------------
Netherlands
--------------------*/
.btn span.glyphicon {         
  opacity: 0;       
}
.btn.active span.glyphicon {        
  opacity: 1;       
}
.btn-dropwdown {
  height: 34px;
}
#map-form {
  margin-top: 50px;
  margin-bottom: 80px;
}



